@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Quattrocento+Sans&display=swap');

body {
  background-color: #FBF3EB;
}

h1 {
  font-family: "DM Serif Display";
}

h2 {
  font-family: "Quattrocento Sans";
}
